# Copia este archivo como .env y ajusta los valores
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=secret_123
INSTANCE_NAME=dev_instance

# Supabase
SUPABASE_URL=https://urdtxugsazbusavvltvd.supabase.co
SUPABASE_KEY=sb_publishable_fd9eLzDYm2ONe12gDEy31Q_9ofaolBj

# OpenAI (Para los embeddings de RAG)
OPENAI_API_KEY=tu_openai_key_aqui
